@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@import "tailwindcss";

body {
    /* background: #07302C; */
    color: white;
    overflow-x: hidden;
}

.outfit {
    font-family: "Outfit", sans-serif;
}


.reloceta {
    font-family: "Recoleta", sans-serif;
}

.jakartaSnas {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.spartan {
    font-family: "League Spartan", sans-serif;
}

/* style.css */
@font-face {
    font-family: "Recoleta";
    src: url("./Fonts/Recoleta-RegularDEMO.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.glass {
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.18),
            rgba(20, 51, 41, 0.08));
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(28px);

    border: 1px solid rgba(255, 255, 255, 0.28);
    border-radius: 16px;

    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.25),
        0 8px 32px rgba(0, 0, 0, 0.35);
}