@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

body {
    background: #07302C;
    color: white;
}

.outfit {
    font-family: "Outfit", sans-serif;
}

/* style.css */
@font-face {
    font-family: "Recoleta";
    src: url("./Fonts/Recoleta-RegularDEMO.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.reloceta {
    font-family: "Recoleta", sans-serif;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-marquee {
    display: flex;
    width: fit-content;
    animation: marquee 60s linear infinite;
  }